services:
    postgres:
        image: postgres:latest
        container_name: postgres
        ports:
            - "5432:5432"
        volumes:
            - postgresDB:/data/postgres
        env_file:
            # - ../.env
            # - ../.env.local
            - path: ./.env
              required: true
            - path: ./.env.local
              required: false

volumes:
    postgresDB:
