@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(0.852 0.016 237.75);
	--foreground: oklch(0.164 0 0);
	--card: oklch(0.955 0.013 226.59);
	--card-foreground: oklch(0.165 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.165 0 0);
	--primary: oklch(0.289 0.037 254.42);
	--primary-foreground: oklch(0.984 0 0);
	--secondary: oklch(0.957 0 0);
	--secondary-foreground: oklch(0.304 0 0);
	--muted: oklch(0.549 0 0);
	--muted-foreground: oklch(0.789 0 0);
	--accent: oklch(0.532 0.197 27.33);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.675 0.224 29.23);
	--border: oklch(0.831 0 0);
	--input: oklch(0.918 0 0);
	--ring: oklch(0.165 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.957 0 0);
	--sidebar-foreground: oklch(0.304 0 0);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.957 0 0);
	--sidebar-accent: oklch(0.532 0.197 27.33);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
	--background: oklch(0.256 0 0);
	--foreground: oklch(0.984 0 0);
	--card: oklch(0.155 0.006 70.88);
	--card-foreground: oklch(0.984 0 0);
	--popover: oklch(0.165 0 0);
	--popover-foreground: oklch(0.984 0 0);
	--primary: oklch(0.984 0 0);
	--primary-foreground: oklch(0.304 0 0);
	--secondary: oklch(0.304 0 0);
	--secondary-foreground: oklch(0.984 0 0);
	--muted: oklch(0.628 0 0);
	--muted-foreground: oklch(0.836 0 0);
	--accent: oklch(0.628 0.251 29.23);
	--accent-foreground: oklch(0.984 0 0);
	--destructive: oklch(0.437 0.131 29.23);
	--border: oklch(0.415 0 0);
	--input: oklch(0.155 0.006 70.88);
	--ring: oklch(0.868 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.304 0 0);
	--sidebar-foreground: oklch(0.984 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0 0);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
